body {
  font-size: 12pt;
}
pre {
  font-family: Consolas, Courier New, Courier, monospace;
  font-size: 80%;
}

table.match tr, table.match td, table.match th {
  margin: 0;
  padding: 0;
}
.match .frameNum {
  font-size: 85%;
}

.game:nth-child(even) {
  background: #fafafa;
}
.game:nth-child(odd) {
  background: #fdfdfd;
}
.game:hover {
  background: #ddf;
}
.game .player {
  font-weight: bold;
  text-align: left;
  padding-right: 0.5em;
}
.game .total {
  font-weight: bold;
  text-align: right;
  padding-left: 0.5em;
}

.frame {
  width: 4em;
  height: 2.5em;
  border: 0.1em solid #000;
}
.frame .balls {
  float: right;
  height: 1em;
  width: 2.3em;
  padding: 0.05em 0;
  border-left: 0.1em solid #000;
  border-bottom: 0.1em solid #000;
  background-color: #eee;
}
.frame10 .balls {
  width: 3.4em !important;
}

.ball {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 0.05em;
  text-align: center;
  vertical-align: middle;
}
.split {
  border-radius: 50%;
  border: 0.1em solid #333;
  width: 0.9em !important;
}
.spare {
  background-image: url("../img/spare.svg");
  background-size: 100% 100%;
  color: rgba(0,0,0,0);
}
.strike {
  background-image: url("../img/strike.svg");
  background-size: 100% 100%;
  color: rgba(0,0,0,0);
}
